@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

:root {
    --font-color: #F5F5F5;
}

body {
    background-color: #240047;
    font-family: "Noto Sans", sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
}

body * {
    box-sizing: border-box;
}

.cabecalho {
    width: 100vw;
    height: 9vh;
    background-color: #1c0021;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuItem {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 10px;
  }

.perfil {
    margin-top: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre {
    width: 70%;
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.sobre > p {
    margin: 0;
    font-size: 1.8vw;
    text-align: justify;
}
.sobre > h1 {
    margin: 0;
    width: 100%;
    text-align: start;
    font-size: 2.5vw;
}

.PerfilImgNam {
    margin: 0 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-items: center;
}
.PerfilImgNam > img {
    border-width: 5px;
    border-color: #00a9d4;
    border-style: solid;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}


.main-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-projetos > h2 {
    width: 95%;
    margin: 50px;
    font-size: 3vw;
}

.projetos-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}
.project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #1c3166;
    border-radius: 5px;
    margin: 20px 0;
    width: 30vw;
}
.project-card > img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 40%;
}
.project-text {
    margin: 20px 10px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.project-text > h3 {
    font-size: 2vw;
    margin: 0;
}
.project-text > p {
    font-size: 1.45vw;
    margin: 0;
}
.project-card > a {
    font-size: 2vw;
    color: var(--font-color);
    font-weight: bold;
    padding: 5px 10px;
}


.contato {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
}
.FormsIcon {
    width: 50vw;
    height: 100vh;
    font-size: 22pt;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-contato {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-contato {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-contato > h2 {
    margin: 0;
    font-size: 3vw;
    font-weight: 800;
}
.left-contato-image {
    width: 35vw;
}
.right-contato {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-contato {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1c0021;
    border-radius: 5px;
    box-shadow: 0 10px 40px #00000056;
}
.card-contato > h3 {
    color: lightgray;
    font-weight: 800;
}
.text-field {
    width: 100%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}
.text-field > label {
    color: lightgray;
    margin-bottom: 10px;
}
.text-field > input,textarea {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 15px;
    color: darkgray;
    background: #1d121f;
    font-size: 12pt;
    resize: none;
    box-shadow: 0 10px 90px #00000056;
    outline: none;
    box-sizing: border-box;
}
PerfilImgNam
.text-field > input::placeholder, textarea::placeholder {
    color: #262326;
}
.btn-contato {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22pt;
    letter-spacing: 3px;
    background: #00a9d4;
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #00000056;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media only screen and (max-width: 1350px) {
    .card-contato {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .perfil {
        flex-direction: column;
    }
    .PerfilImgNam {
        width: 90%;
    }
    .sobre {
        margin-top: 50px;
        width: 90%;
    }
    .sobre > p {
        text-align: start;
        font-size: 4.5vw;
    }
    .sobre > h1 {
        text-align: start;
        font-size: 5vw;
    }

    .main-projetos > h2 {
        font-size: 8vw;
    }
    .projetos-grid {
        flex-direction: column;
    }
    .project-card {
        width: 90%;
    }
    .project-card > a {
        font-size: 6vw;
    }
    .project-text > h3{
        font-size: 5vw;
    }
    .project-text > p{
        font-size: 4vw;
    }

    .main-contato {
        flex-direction: column;
    }
    .left-contato-image{
        display: none;
    }
    .left-contato {
        text-align: center;
        margin: 25px;
        height: auto;
    }
    .left-contato > h2 {
        font-size: 10vw;
    }
    .right-contato {
        width: 100%;
        height: auto;
    }
    .card-contato {
        width: 90%;
    }
}